<% unless page.children.empty? %>
    <ul id="service_menu">
      <% page.children.each do |service|%>
        <li class='<%= "selected" if service.id == @page.id%>'>
          <%= link_to service.title, service.nested_path %>
        </li>
      <% end %>
    </ul>
<% end %>