<% unless page.children.empty? %>
    <ul id="service_menu">
      <% page.children.each do |service|%>
        <a href="<%= service.nested_path %>">
          <li class='<%= "selected" if service.id == @page.id%>'>
            <span><%= service.title %></span>
          </li>
        </a>
      <% end %>
    </ul>
<% end %>