<% unless page.children.empty? %>
    <ul>
      <% page.children.each do |service|%>
        <li>
          <%= link_to service.title, service.nested_path %>
        </li>
      <% end %>
    </ul>
<% end %>