<section id='side_body_content'>
  <% if @page.parent.nil? %>
    <%=raw @page.content_for(:side_body) %>
  <% else %>
    <%= render "side_menu", :page => @page.parent %>
  <% end %>
</section>

<section id='body_content'>
  <%= raw @page.content_for(:body) %>
</section>
