body {
  background: white;
  font-family: Verdana;
  font-size: 13px;
  line-height: 18px;
  padding:0;
  margin:0;
  text-align: center;
}

header#header{
  width: 100%;
  //background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#454545), to(#1D1D1D));
  height: 132px;
  #header_container{
    width: 100%;
    height: 84px;
    text-align: center;
    background-image: linear-gradient(left , rgb(255,0,0) 19%, rgb(255,255,255) 100%);
    background-image: -o-linear-gradient(left , rgb(255,0,0) 19%, rgb(255,255,255) 100%);
    background-image: -moz-linear-gradient(left , rgb(255,0,0) 19%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient(left , rgb(255,0,0) 19%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient(left , rgb(255,0,0) 19%, rgb(255,255,255) 100%);

    background-image: -webkit-gradient(
    	linear,
    	left top,
    	right top,
    	color-stop(0.19, rgb(255,0,0)),
    	color-stop(1, rgb(255,255,255))
    );
    #logo {
      margin: 0 auto;
      width: 960px;
      text-align: left;
      font-size: 0px;
      line-height: 0px;
      a{
        margin-left: 30px;
      }
    }
  }
  #menu {
    ul{
      margin: 0 auto;
      width: 960px;
      margin-top: 10px;
      margin-right: 20px;
      padding: 0;
      float:right;
      list-style-image: none;
      list-style: none;
      list-style-type: none;
      li{
        list-style-image:none;
        float: left;
        margin: 0 5px;
        padding: 10px 15px;
        font-size: 15px;
        background: #696969;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        a {
          text-decoration: none;
          color: #a9a9a9;
          font-weight: bold;
          letter-spacing:3px
        }
      }
      li.selected{
        background: #EDEDED;
        a{
          color: red;
        }
      }
      li:hover{
        background: #808080;
        a{
          color: #e3e3e3;
        }
      }
      li.selected:hover{
        background: #EDEDED;
        a{
          color: red;
        }
      }
    }
  }
}

#page{
  width: 960px;
  margin: 0 auto;
  text-align: left;
  background-image: url(background.gif);
  -webkit-border-radius: 10px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-height: 500px;
  section#side_body_content{
    float: left;
    margin: 30px 0;
    width: 330px;
    p {
      margin: 0 30px;
    }
    br{
      display:none;
    }
    ul{
      list-style-image: none;
      list-style: none;
      list-style-type: none;
      padding-left: 0;
      margin: 0;
      li{
        width: 150px;
        height: 20px;
        list-style-image:none;
        padding: 0 5px 10px 5px;
        //margin: 10px 0;
        margin-bottom: 20px;
        border: 1px solid black;
        border-left: none;
        background-image: -webkit-gradient(
        	linear,
        	left bottom,
        	right bottom,
        	color-stop(0, rgb(163,163,163)),
        	color-stop(1, rgb(255,255,255))
        );
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        span{
          position: relative;
          text-decoration: none;
          color: black;
          font-size: 14px;
          float: right;
          margin-right: 10px;
          padding-top: 6px;
        }
      }
      li.selected{
        background: red;
        span{
          color: #EDEDED;
          padding-top: 6px;
        }
      }
    }
  }

  section#body_content{
    float: left;
    width: 600px;
    margin: 30px 0;
    font-size: 14px;
    p{
      margin:0;
      line-height: 25px;
      padding-bottom: 20px;
      span{
        padding-right: 50px;
      }
    }
    li{
      padding-bottom: 10px;
    }
  }
}

footer{
  width: 100%;
  background: #961100;
  text-align: left;
  color: #EDEDED;
  text-decoration: none;
  text-align: center;

  #site_map{
    width: 960px;
    margin: 10px auto;
    ul{
      float:left;
      width: 110px;
      p{
        margin: 0 0 10px;
        a{
          color: #EDEDED;
          text-decoration: none;
          font-size: 15px;
          font-weight: bold;
        }
      }
      li{
        list-style-image: none;
        list-style: none;
        list-style-type: none;
        a{
          color: #EDEDED;
          text-decoration: none;
        }
      }
    }
  }

  #bottom_statement{
    width: 960px;
    margin: 10px auto;
    text-align: right;
  }
}
