body {
  background: black;
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  font-family: Verdana;
  font-size: 13px;
  line-height: 18px;
  text-align:center;
  padding:0;
  margin:0;
}

header#header{
  width: 960px;
  height: 70px;
  //background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#454545), to(#1D1D1D));
  background:black;
  margin: 10px auto 0 auto;
  text-align: center;

  #header_container{
    margin: 0 auto;
    width: 960px;
    #logo {
      float: left;
      font-size: 0px;
      line-height: 0px;
      padding-left: 30px;
    }

    #menu {
      ul{
        margin-top: 22px;
        margin-right: 20px;
        padding: 0;
        float:right;
        list-style-image: none;
        list-style: none;
        list-style-type: none;
        li{
          list-style-image:none;
          float: left;
          margin: 10px 5px 0;
          padding: 10px 15px;
          font-size: 15px;
          background: #696969;
          -webkit-border-top-left-radius: 5px;
          -webkit-border-top-right-radius: 5px;
          -moz-border-radius-topleft: 5px;
          -moz-border-radius-topright: 5px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          a {
            text-decoration: none;
            color: #a9a9a9;
            font-weight: bold;
            letter-spacing:3px
          }
        }
        li.selected{
          background: #EDEDED;
          a{
            color: #b22222;
          }
        }
        li:hover{
          background: #808080;
          a{
            color: #e3e3e3;
          }
        }
        li.selected:hover{
          background: #EDEDED;
          a{
            color: #b22222;
          }
        }
      }
    }
  }
}

#page{
  width: 960px;
  margin: 0 auto;
  text-align: left;
  background-image: url(background.gif);
  -webkit-border-radius: 10px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  section#side_body_content{
    float: left;
    margin: 30px 0 30px 30px;
    width: 300px;
    p {
      margin: 0;
    }

    br{
      display:none;
    }

    ul{
      list-style-image: none;
      list-style: none;
      list-style-type: none;
      li{
        list-style-image:none;
        a{
          text-decoration: none;
          color: black;
          font-size: 14px;
        }
      }
      li.selected{
        a{
          color: #b22222;
        }
      }
    }
  }

  section#body_content{
    float: left;
    width: 600px;
  }
}

footer{
  width: 960px;
  margin: 10px auto;
  text-align: left;
  color: black;
  text-decoration: none;

  #site_map{
    background: #EDEDED;
    -webkit-border-radius: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    ul{
      float:left;
      width: 110px;
      p{
        margin: 0 0 10px;
        a{
          color: black;
          text-decoration: none;
          font-size: 15px;
          font-weight: bold;
        }
      }
      li{
        list-style-image: none;
        list-style: none;
        list-style-type: none;
        a{
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}
